@font-face {
    font-family: 'Sweet Sans Pro';
    src: local('SweetSansPro-Regular'),
        url('SweetSansPro-Regular.woff2') format('woff2'),
        url('SweetSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

