@font-face {
    font-family: 'Saol Display';
    src: url('SaolDisplay-Medium.woff2') format('woff2'),
        url('SaolDisplay-Medium.woff') format('woff'),
        url('SaolDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saol Display';
    src: url('SaolDisplay-LightItalic.woff2') format('woff2'),
        url('SaolDisplay-LightItalic.woff') format('woff'),
        url('SaolDisplay-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saol Display';
    src: url('SaolDisplay-Regular.woff2') format('woff2'),
        url('SaolDisplay-Regular.woff') format('woff'),
        url('SaolDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saol Display';
    src: url('SaolDisplay-Bold.woff2') format('woff2'),
        url('SaolDisplay-Bold.woff') format('woff'),
        url('SaolDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saol Display Regular';
    src: url('SaolDisplay-RegularItalic.woff2') format('woff2'),
        url('SaolDisplay-RegularItalic.woff') format('woff'),
        url('SaolDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Saol Display';
    src: url('SaolDisplay-Light.woff2') format('woff2'),
        url('SaolDisplay-Light.woff') format('woff'),
        url('SaolDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

