.error-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  .heading {
    font-size: clamp(30px, 5vw, 80px);
    line-height: 1;
    // text-transform: uppercase;
    font-family: $font-main;
    font-weight: 400;
  }
  & p {
    margin: 20px 0 70px;
    font-size: clamp(14px, 1.5vw, 30px);
    font-family: $font-main;
    font-weight: 300;
  }
}



