.imageWhiteBlock__container {
  background-color: $white;
  position: relative;

  @include breakpoint(md) {
    top: -80px;
  }
}

.imageWhiteBlock__container--text {
  padding: 50px 0 0;

  .text {
    color: $grey-400;
    padding-top: 20px;
  }

  @include breakpoint(md) {
    width: 70%;
    margin: auto;
    padding: 80px 0 0;
  }

  @include breakpoint(lg) {
    .text {
      padding-top: 30px;
    }
  }

  @include breakpoint(xl) {
    width: 1024px;
  }
}