.membershipBlocks__grid {
  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @include breakpoint(xl) {
    gap: 21px;
  }
}

.membershipBlocks__grid--item {
  background-color: $grey-100;
  color: $blue-700;
  text-align: center;
  transition: .4s ease;
  margin-bottom: 30px;

  .price {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 600;
    padding: 13px 19px;
  }

  .name {
    background-color: $blue-100;
    padding: 19px 10px;
    font-size: clamp(15px, 2vw, 18px);
    font-weight: 600;
    line-height: 1.4;
  }

  .description {
    padding: 25px 30px;
    color: $grey-400;

    ul {
      padding: 30px 0;
      list-style: none;
      margin: 0;

      li {
        padding: 10px 0;
        border-bottom: .5px solid $blue-700;
        font-weight: 400;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    a {
      font-family: $font-main;
      font-weight: 600;
      cursor: pointer;
      font-size: clamp(13px, .9vw, 17px);
      color: $white;
      padding: 10px 25px;
      background-color: $blue-600;
      text-decoration: none;
      letter-spacing: 0.65px;
    }
  }

  &:hover,
  &:focus {
    background-color: $blue-600;

    .price {
      color: $white;
    }

    .description {
      color: $white;

      ul {
        li {
          border-bottom: .5px solid $white;
        }
      }

      a {
        background-color: $blue-100;
        color: $blue-700;
      }
    }
  }

  @include breakpoint(md) {
    margin-bottom: 0;
  }
}