.videoBlock {
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }
}

.videoBlock__video {
  width: 100%;
  line-height: 0;
  position: relative;

  .videoBlock__button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    figure {
      width: 61px;
    }
  }

  .vimeo__button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    figure {
      width: 118px;
    }
  }

  video {
    width: 100%;
  }

  @include breakpoint(lg) {
    .videoBlock__button {
      figure {
        width: 170px;
      }
    }
  }

  @include breakpoint(xxl) {
    .videoBlock__button {
      figure {
        width: 210px;
      }
    }
  }
}

.videoBlock__video--vimeo {
  padding-top: 53.25%;
  height: 0;
  width: 100%;
  position: relative;

  iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
  }
}

/*vimeo*/
.videoBlock__video .plyr__controls {
  position: absolute;
  top: 0%;
  left: 0 !important;
  height: 100%;
  padding: 0;
  background: transparent !important;
  padding: 0 !important;

}

.plyr__control.plyr__control--overlaid,
.plyr__controls__item.plyr__control {
  background-color: transparent;
  background-image: url(../assets/playIcon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 118px;
  height: 118px;
  opacity: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);

  &:hover,
  &:focus {
    background-color: transparent !important;
    background-image: url(../assets/playIcon.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }

  & svg {
    fill: $white;
    position: relative;
    width: 12px;
    height: 12px;
    left: 3px;
  }

  @include breakpoint(lg) {
    width: 170px;
    height: 170px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  @include breakpoint(xxl) {
    width: 210px;
    height: 210px;

    & svg {
      width: 21px;
      height: 21px;
    }
  }
}


.imageVideoVimeo img {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.plyr--playing {
  .imageVideoVimeo img {
    opacity: 0 !important;
    position: absolute;
  }
}