/* Styles for devices with a max-width of 768px */
@media (max-width: 768px) {
  .title-block h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .title-block p {
    font-size: 18px;
  }
  .title-block .btn {
    font-size: 18px;
  }

  .hero .hero-content {
    left: 5%;
  }

  .hero .hero-content h1 span,
  .hero .hero-content p span {
    display: inline;
  }
  
.rm-articles h3 {
    font-size: 20px;
  }
  .rm-articles .btn {
    font-size: 20px;
  }
}

/* Styles for devices with a max-width of 820px */
@media (max-width: 820px) {
  .sticky-top.sidebar ul {
    padding-left: 0;
  }
  .sticky-top.sidebar li a {
    font-size: 10px;
  }
}

/* Styles for devices with a max-width of 991px */
@media (max-width: 991px) {
  .latest-article-content p.article-by {
    margin-top: 15px;
    font-size: 16px;
  }
  .hero-section .latest-article p {
    font-size: 18px;
    line-height: 18px;
  }
}

/* Styles for devices with a max-width of 500px */
@media (max-width: 500px) {
  .latest-article p.text {
    font-size: 14px;
  }
  .hero-section .btn {
    font-size: 15px;
  }
}
